.variables {
    --DarkBlueDarkModeElements: hsl(209, 23%, 22%);
    --VeryDarkBlueDarkModeBackground: hsl(207, 26%, 17%);
    --VeryDarkBlueLightModeText: hsl(200, 15%, 8%);
    --DarkGrayLightModeInput: hsl(0, 0%, 52%);
    --VeryLightGrayLightModeBackground: hsl(0, 0%, 98%);
    --WhiteDarkModeTextLightModeElements: hsl(0, 0%, 100%);
}

.container {
    padding: 40px 7.4% 50px 7.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    .btn__back {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 32px;
        width: 104px;
        background-color: var(--WhiteDarkModeTextLightModeElements);
        color: var(--DarkGrayLightModeInput);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        margin-bottom: 24px;
        cursor: pointer;
        
        &:hover{
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }


        img {
            height: 12px;
            width:  16px;
            opacity: .6;
        }
    }

    .flag-container {
        align-self: center;
        height: auto;
        max-width: 570px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .info-container{
        display: flex;
        // border: 1px solid black;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        
        .info-section1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            
            h1 {
                font-size: 1.5rem;
                font-weight: 900;
                color: var(--VeryDarkBlueDarkModeBackground);
            }
            
            h2 {
                font-weight: 600;
                font-size: .9rem;
                color: var(--DarkBlueDarkModeElements);
                
                span {
                    color: var(--DarkGrayLightModeInput);
                    font-weight: 600;
                }
            }
        }


        .info-section2{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;

            h2 {
                font-weight: 600;
                font-size: .9rem;
                color: var(--DarkBlueDarkModeElements);
                
                span {
                    color: var(--DarkGrayLightModeInput);
                    font-weight: 600;
                }
            }
        }


        .borders-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;

            h2 {
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--DarkBlueDarkModeElements);
            }

            .borders__buttons{
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }

            .btn__border {
                height: 28px;
                width: 98px;
                background-color: var(--WhiteDarkModeTextLightModeElements);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                cursor: pointer;
                font-size: 10px;
                font-weight: 300;
                color: var(--DarkGrayLightModeInput);

                &:hover{
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                }
            }

            
        }
    }
}

@media (min-width: 800px){
    .container {
        display: grid;
        grid-template: 
        'btn__back btn__back' 
        'flag      info'      / 
        1fr        1fr;
        padding: 0 5.55% 5.55% 5.55%;
        column-gap: 8.33%;
        row-gap: 80px;
       

        .btn__back {
            grid-area: btn__back;
            margin-top: 80px;
            margin-bottom: 0;
        }


        .flag-container{
            grid-area: flag;
            // width: 562px;
            place-self: start;
            img {
                object-fit: contain;
            }
        }

        .info-container {
            grid-area: info;
            flex-direction: row;
            flex-wrap: wrap;

            .info-section1{
                justify-content: center;

                h1 {
                    font-size: 1.8rem;
                    margin-bottom: 14.8px;
                }
            }
            
            .info-section2{
                justify-content: center;
            }

            .borders-container{
                flex-direction: row;
                flex-wrap: wrap;

                h2 {
                    white-space: nowrap;
                }
            }
        }
    }
}

@media (min-width: 1100px) {
    
    .container {
        .info-container{
            
            .borders-container{
                flex-wrap: nowrap;
            }
        }
    }
}