<div class="container">

    <button (click)="onCLickBack()" class="btn__back">
        @if (darkTheme$ | async) {
            <img src="../../../assets/images/icons8-flecha-izquierda-larga-50-white.png" alt="Back">
        }@else {
            <img src="../../../assets/images/icons8-flecha-izquierda-larga-50.png" alt="Back">

        }
        <span>Back</span>
    </button>

    <!-- flag -->
    <div class="flag-container">
        <img [src]="showCountry.flags.svg" [alt]="showCountry.flags.alt">
    </div>

    <!-- info -->
    <div class="info-container">
        
        <div class="info-section1">

            <h1 class="name">{{showCountry.name['common']}}</h1>

            <h2>Native Name:
                <span *ngFor="let nativeName of showCountry.name['nativeName']; index as i">{{nativeName.common}}<small
                        *ngIf="i < showCountry.name['nativeName'].length - 1">, </small>
                </span>
            </h2>
            <h2>Population: <span>{{showCountry.population | number}}</span></h2>
            <h2>Region: <span>{{showCountry.region}}</span></h2>
            <h2>Sub Region: <span>{{showCountry.subregion}}</span></h2>
            <h2>Capital: <span>{{showCountry.capital}}</span></h2>
        </div>

        <div class="info-section2">
            <h2>Top Level Domain: <span>{{showCountry.tld}}</span>

            </h2>
            <h2>Currencies: <span
                    *ngFor="let currency of showCountry.currencies; index as i">{{currency.name}}<small *ngIf="i < showCountry.currencies.length - 1">, </small>
                </span>
            </h2>

            <h2>Languages:
                <span *ngFor="let language of showCountry.languages; index as i">{{language}}<small
                        *ngIf="i < showCountry.languages.length - 1">, </small>
                </span>
            </h2>

        </div>

        <div class="borders-container">
            <h2>Border Countries:</h2>

            @if (borders) {

                <div class="borders__buttons">
                    @for (border of borders; track $index) {
                        <button [routerLink]="['/countries', border.code]"  class="btn__border">{{border.name}}</button>
                    }
                </div>

            }@else {
                <small>With no borders</small>
            }
        </div>
    </div>
</div>