<div *ngIf="!requestError" class="container">

    <!-- search -->

    <div class="search-container">
        <span class="search-icon" [ngClass]="{'dark-theme': darkTheme$ | async}"></span>
        <input (keyup)="countriesFilter()" type="text" placeholder="Search for a country..." [(ngModel)]="inputSearch">
    </div>

    <!-- select -->

    <div #customOptions class="select-container">
        <div class="custom-select" (click)="toggleOptions()">
            <div class="selected-option">
                {{ selectedContinent }}
                <span [ngClass]="{'dark-theme': darkTheme$ | async}" class="select__arrow"></span>
            </div>

            <ul class="options" [ngClass]="{'open':showOptions}" >

                @for (continent of continents; track $index) {
                <li [ngClass]="{'liopen': showOptions}" (click)="selectContinent(continent)" >{{ continent }}</li>
                }
                
            </ul>
        </div>
    </div>

    <!-- cards -->

    <div *ngIf="showCountries.length > 0" class="cards-container">
        @for (country of showCountries; track $index) {
        @defer (on viewport) {
            <div class="card" [routerLink]="['/countries', country.cca3]">
    
                <div class="card__img--container">
                    <img class="card__flag" [src]="country.flags['png']" [alt]="country.flags['alt']">
                </div>
    
                
    
                    <div class="card__info">
                        <h2>{{country.name['common']}}</h2>
        
                        <div class="card__info--properties">
                            <h3>Population:
                                <span>{{country.population | number}}</span>
                            </h3>
                            <h3>Region:
                                <span>{{country.region}}</span>
                            </h3>
                            <h3>Capital:
                                <span>{{country.capital}}</span>
                            </h3>
                        </div>
        
                    </div>
                </div>
          }
          @placeholder {
            <span>Cargando...</span>
          }


        }
    </div>

    <div *ngIf="showCountries.length === 0" class="not-matches-span">
        <span>Matches not found</span>
    </div> 

</div>

<div *ngIf="requestError" class="errorMessage">
    <span>{{requestError}}</span>
</div>